PORT=:3000
RSA_PRIVATE_KEY_PATH=../api/certificates/app.rsa
RSA_PUBLIC_KEY_PATH=../api/certificates/app.rsa.pub
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=appfedb
POSTGRES_DATABASE_URL=postgres://postgres:postgres@localhost:5432/appfedb?sslmode=disable